@{
    ViewData["Title"] = "Adminstrar";
}

<div class="text-center">
    <h1 class="display-4">Administrar</h1>

</div>



<div class="modal-footer">
    <div style="width:100%; text-align: center;">
        <a class="btn btn-primary" asp-area="" asp-controller="Usuarios" asp-action="Create">Usuarios</a>
        <button type="submit" class="btn btn-primary btn-lg" data-dismiss="modal">Departamentos</button>
        <button type="submit" class="btn btn-primary btn-lg" data-dismiss="modal">Áreas</button>
        <button type="submit" class="btn btn-primary btn-lg" data-dismiss="modal">Comportamientos</button>
    </div>   
</div>

<div class="modal-footer">
    <div style="width:100%;text-align:center;">
        <button type="submit" class="btn btn-primary btn-lg" data-dismiss="modal">Aspectos</button>
        <button type="submit" class="btn btn-primary btn-lg" data-dismiss="modal">Total de observaciones realizadas</button>
        <button type="submit" class="btn btn-primary btn-lg" data-dismiss="modal">Reporte general</button>
        <button type="submit" class="btn btn-primary btn-lg" data-dismiss="modal">Historial</button>
    </div>
</div>

<div class="modal-footer">
    <div style="width:100%;text-align:center;">
        <button type="submit" class="btn btn-primary btn-lg" data-dismiss="modal">Sexo</button>
        <button type="submit" class="btn btn-primary btn-lg" data-dismiss="modal">Gestionar carrusel</button>
        <button type="submit" class="btn btn-primary btn-lg" data-dismiss="modal">Puesto</button>
    </div>
</div>