@{
    ViewData["Title"] = "Iniciar Sesion";
}


<div id="layoutAuthentication_content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header">
                        <h3 class="text-center font-weight-light my-4">Iniciar sesión</h3>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-floating mb-3">
                                <input class="form-control" id="inputNoEmployed" type="number"
                                       placeholder="Número de empleado" />
                                <label for="int">ID</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input class="form-control" id="inputPassword" type="password"
                                       placeholder="Contraseña" />
                                <label for="inputPassword">Contraseña</label>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input" id="inputRememberPassword" type="checkbox"
                                       value="" />
                                <label class="form-check-label" for="inputRememberPassword">
                                    Recordar
                                    contraseña
                                </label>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                <a class="small" href="password.html">Olvidé mi contraseña</a>
                                <a class="btn btn-primary" asp-area="" asp-controller="InicioAdmin" asp-action="InicioAdmin">Iniciar sesión</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


